@font-face {
  font-family: 'Circular';
  src: url('CircularPro-Book.woff2') format('woff2'),
    url('CircularPro-Book.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CircularBlack';
  src: url('CircularPro-Black.otf') format('otf');
  font-style: normal;
}


body {
  background-color: #243346;
  font-family: 'Circular'; 
  
}

.outer-wrap{
  margin-left: 3vw;
  margin-right: 3vw;

}


nav {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  height: 60px;
}

nav img {
  height: 60px;
  width: auto;
}

.navButton{
  background-color: #243346;
  font-size: 18px;
  border-radius: 100px;
  width: 120px;
  border-color: #E4A2A0;
  color: #E4A2A0;
  font-family: Circular;
  
}

.introText{
  text-align: center;
  color: #EADFD1;
  font-size: 20px;
  margin-bottom: -40px;
}

h1 {
  font-size: 72px;
  color: #EADFD1;
  text-align: center;
  margin-bottom: 32px;
}

@media only screen and (max-width: 600px) {

  h1 {
      font-size: 45px;
      padding-top: 20px;
  }


}

h2 {
  font-size: 32px;
  color: #D2726B;

}

h3 {
  font-size: 26px;
  color: #D2726B;
}

p {
  font-size: 20px;

  
}

.help-text {
  color: gray;       
  font-size: 18px;
  text-align: center;
  color: #E4A2A0;
  padding-top: 10px;
}


.copyTitle {
  display: inline;
}

.wrap {
  max-width: 700px;
  margin: auto;
  padding-top: 50px;

  
}

@media only screen and (max-width: 600px) {

  .wrap {
      max-width: 370px;
      margin: auto;
      padding-top: 50px;
  }


}

.intro {
  padding-top: 30px;
  padding-bottom: 75px;
}

.output {
  background-color: #E4A2A0;
  min-height: 100vh;
  padding-bottom: 100px;
  border-radius: 10px;
}

.inputfields {
  display: flex;
  justify-content: space-between;
  
}
@media only screen and (max-width: 600px) {

  .inputfields {
      display: flex;
      flex-wrap: wrap;
  }


}

#createTitleButton {
  border: none;
  border-radius: 0 10px 10px 0;
  padding: 20px 40px 20px 40px;
  font-size: 16px;
  color: white;
  background-color: #D2726B;
  font-family: Circular;
  letter-spacing: 0.1em;
  flex-grow: 1;
  
}
@media only screen and (max-width: 600px) {

  #createTitleButton {
      border-radius: 10px;
      margin-top: 10px;
  }


}

.inputfields input {
  padding: 20px;
  font-size: 20px;
  border-radius: 0;
  background-color: #F5F5F5;
  color: #305353;
  border: none;
  border-right: 2px solid lightgray;
  font-family: Circular;
  flex-grow: 1;

}
@media only screen and (max-width: 600px) {

  .inputfields input {
      border-radius: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
  }


}

#verbInput{
  border-radius: 10px 0 0 10px;
}

@media only screen and (max-width: 600px) {


  #verbInput{
      border-radius: 10px;
  }

}


input::placeholder {
  color: #305353;
  opacity: 0.6;
}



.results {
  border-bottom: 2px dotted #D2726B;
  
}

li {
  font-size: 20px;
  margin-top: 20px;
  margin-left: -38px;
  list-style-type: none;
  background-color: whitesmoke;
  color: #305353;
  padding: 20px 25px 20px 30px;
  border-radius: 5px;
  line-height: 3;
  
}



button {
  font-family: Circular;
}


.newResults__card {
  margin-bottom: 20px;
}

.newResults__metaData {
  background-color: #D2726B;
  display: flex;
  border-radius: 0px 0px 10px 10px;
  justify-content: space-between;
}

.newResults__metaData__clickbait {
  display: flex-start;
}

.clickbait {
  margin: 18px;
  color: #6E2727;
}



.newResults__input{
  display: flex;
  
}

.newResults__card__input{
  border-radius: 10px 10px 0 0;
  flex-grow: 6;
  font-size: 20px;
  font-family: Circular;
  padding: 18px;
  color: #305353;
  border: none;
  line-height: 1.4em;
}

.copyButton_new {
  font-size: 15px;
  font-weight: bold;
  background-color: #BE635D;
  border: none;
  border-radius: 7px;
  padding: 6px 15px 6px 15px;
  margin: 5px;
  color: white;

}

.copyButton_success {
  font-size: 15px;
  font-weight: bold;
  background-color: gainsboro;
  border: none;
  border-radius: 7px;
  padding: 6px 15px 6px 15px;
  margin: 5px;
  color: white;

}

.filter {
  display: flex;
  justify-content: space-between;

}

select {
  font-size: 16px;
  font-family: Circular;
  background-color: #D2726B;
  border: none;
  color: #F5F5F5;
  padding-left: 15px;
  padding-right: 30px;
  margin-top: 18px;
  margin-bottom: 27px;
  border-radius: 100px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;


}

select:after {
  content: "↕";
  padding-left: 10px;
}
